# Core LangChain
langchain
langgraph
langchain_community
langchain-google-genai
langchain-ollama

# Embeddings e Modelos
langchain_huggingface
sentence-transformers 
hf_transfer       
hf_xet

# Vector Store
faiss-cpu

# Web App
streamlit

# Utilitários
pypdf
python-dotenv
requests
tqdm

# LLM Local
ollama

# Avaliação
ragas